# Allow creating /sdcard symlinks
allow init tmpfs:lnk_file create_file_perms;

# Allow setting PRISM permissions
allow init sysfs_devices_tegradc:lnk_file read;
